<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/eagle_listing.css}"/>
</head>
<body>

<div class="jumbotron-banner">
    <div class="page-header text-center">
        <h1 th:text="#{welcome.msg}">Welcome Offline</h1>
    </div>
</div>

<div class="container-table">
    <div class="row">
        <div class="col-md-6 col-md-offset-8">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Scientific name</th>
                    <th>English name</th>
                    <th>Dutch name</th>
                    <th>Wing span(m)</th>
                    <th>More info</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="animal:${animalsList}">
                    <th th:text="${animal.scientificName}">_scientific name_</th>
                    <th th:text="${animal.englishName}">_scientific name_</th>
                    <th th:text="${animal.dutchName}">_dutch name_</th>
                    <th th:text="${animal.wingSpan}">_wing span_</th>
                    <th> <a th:href="'/species.detail?animal=' + ${animal.scientificName} + ';' + ${animal.englishName} + ';' +
        ${animal.dutchName} + ';' + ${animal.wingSpan} + ';' + ${animal.pictureLocation} + ';' + ${animal.name}">view</a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<footer class="page-footer font-small" id="page-foot">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase">Home</h5>
                <p>Click here if you want to go back to the home page</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">History</h5>
                <p>Checkout your history!</p>
                <!-- Links -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Log out</h5>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">User</h5>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mt-md-0 mb-3">

                <!-- Content -->
                <a th:href="'/home'" class="btn btn-primary btn-rounded"  role="button"><span class="fas fa-home"></span>Home</a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <div th:insert="~{template :: historyDrop(${history})}"></div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <a th:href="'/login?logout'" class="btn btn-primary btn-rounded"  role="button"><span class="glyphicon glyphicon-home"></span>Log out</a>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <div th:insert="~{template :: userButton(${username})}"></div>

            </div>
        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <p>Stijn Arends</p>
    </div>
    <!-- Copyright -->

</footer>


<!--<div th:insert="~{template :: test('This is a test')}"></div>-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</body>
</html>