<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}"/>

</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{{image}(image='/data_figures/figures/' + ${name} + '_banner_1' + '.jpg')}" class="banner">
            <div class="carousel-caption">
                <h1 th:text="'The ' + ${scienceName}">_scientific name_</h1>
                <p th:text="${engName}">_englishName_</p>
                <p th:text="${nlName}">_dutchName_</p>
            </div>
        </div>
        <div class="carousel-item">
            <img th:src="@{{image}(image='/data_figures/figures/' + ${name} + '_banner_2' + '.jpg')}" class="banner">
            <div class="carousel-caption">
                <h1 th:text="'The ' + ${scienceName}">_scientific name_</h1>
                <p th:text="${engName}">_englishName_</p>
                <p th:text="${nlName}">_dutchName_</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<div class="container-row-one">
    <div class="jumbotron-one">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
                <h3 th:text="#{description.msg}">Description</h3>
                <p th:text="#{'description.' + ${name}}"></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
                <h3 th:text="#{picture.msg}" class="picture-column">Picture</h3>
                <img th:src="@{{image}(image=${picLocation})}" id="picture-description" class="picture-column"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
            </div>
        </div>
    </div>
</div>

<div class="container-row-two">
    <div class="jumbotron-two">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
                <h3 th:text="#{occurrence.msg}">Occurence</h3>
                <p th:text="#{'occurrence.' + ${name}}"></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
                <h3 th:text="#{conversion.msg}" class="conversion-status">Conversion Status</h3>
                <p th:text="#{'conversion.' + ${name}}" class="conversion-status"> _conversion status_</p>
                <p th:text="${username}">username</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xsm-12">
            </div>
        </div>
    </div>
</div>


<!--https://codepen.io/cbracco/pen/zekgx-->
<footer class="page-footer font-small" id="page-foot">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase">Home</h5>
                <p>Click here if you want to go back to the home page</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">History</h5>
                <p>Checkout your history!</p>
                <!-- Links -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Log out</h5>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">User</h5>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mt-md-0 mb-3">

                <!-- Content -->
                <a th:href="'/home'" class="btn btn-primary btn-rounded"  role="button"><span class="fas fa-home"></span>Home</a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <div th:insert="~{template :: historyDrop(${history})}"></div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <a th:href="'/login?logout'" class="btn btn-primary btn-rounded"  role="button"><span class="glyphicon glyphicon-home"></span>Log out</a>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <div th:insert="~{template :: userButton(${username})}"></div>

            </div>
        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <p>Stijn Arends</p>
    </div>
    <!-- Copyright -->

</footer>


<!--<div th:insert="~{template :: test('This is a test')}"></div>-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</body>
</html>