body{
    background-color: ghostwhite;
}

.jumbotron-one{
    background-color: ghostwhite;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron-two{
    background-color: lightslategray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.banner{
    min-width: 100%;
    height: 500px;
}

#banner{
    min-width: 100%;
    height: auto;
}

.carousel-inner.carousel-item   {
    position: relative;
    max-height: 500px;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.carousel-inner h1{
    color: white;
    vertical-align: middle;
}

.container-row-one{
    margin-top: 125px;
}

#picture-description{
    width:300px;
    height:350px;
}

.picture-column{
    margin-left: 100px;
}

.conversion-status{
    margin-left: 100px;
}

#websiteTitle{
    font-size: 10em;
    vertical-align: middle;
    padding-left: 15px;
    color: seagreen;
}

#slogan{
    font-size: 5.4em;
}

.jumbotron-history{
    background-color: lightslategray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    height: 150px;
}


/*.footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    background-color: red;*/
/*}*/

.page-footer{
    background-color: #353333;
    margin-top: 50px;
    padding-top: 16px;
}

.page-footer h5 , .page-footer p{
    color: white;
}

.footer-copyright{
    color: white;
}

.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    /*background: transparent;*/
    /*transition: all 0.3s ease 0s;*/
}

/*.btn-primary:hover {*/
/*    color: #FFF;*/
/*    background: rgba(58, 133, 191, 0.75);*/
/*    border: 2px solid rgba(58, 133, 191, 0.75);*/
/*}*/