body{
    background-color: ghostwhite;
}

.jumbotron-banner{
    background-color: lightsteelblue;
    height: 150px;
}

/*.page-header{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/

.page-header{
    padding-top: 45px;
}

.container-table{
    margin-top: 20px;
}

.jumbotron-history{
    background-color: lightslategray;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 150px;
}


.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    /*background: transparent;*/
    /*transition: all 0.3s ease 0s;*/
}

.page-footer{
    background-color: #353333;
    margin-top: 50px;
    padding-top: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-footer h5 , .page-footer p{
    color: white;
}

.footer-copyright{
    color: white;
}

